<div class="container">
  <% if user_signed_in?  %>
        <h2>Hi <%= current_user.first_name %>!</h2>
        <h4>Check out my Pokemons!</h4>
        <p>Which Pokemon do you want to see?</p>
  <% end %>
</div>
